.cart-lists {
  position: fixed;
  top: 0;
  right: 0;
  gap: 1rem;
  bottom: 0;
  z-index: 1;
  display: flex;
  height: 100vh;
  padding: 0 1rem;
  min-width: 20rem;
  max-width: 20rem;
  list-style: none;
  flex-direction: column;
  transform: translateX(20rem);
  transition: transform .3s linear;
  background-color: rgba(3, 3, 3, 0.9);
}

.cart-lists.active {
  transform: translateX(0);
}  

.cartItems{
  padding: 7px;
  height: 5rem;
  display: flex;
  gap: .5rem;
  border-radius: 6px;
  justify-content: space-between;
}
.cartItems>div{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.cartItems:hover{
  box-shadow: inset 0 0 5px #fff;
}
.productName{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 6rem;
  text-transform: capitalize;
  height: 2.8rem;
}
.order_item{
  cursor: pointer;
  background: #0056b3;
  border: navajowhite;
  transition: scale .2s ease-in-out;
  border-radius: 7px;
  padding: 8px 12px;
}
.order_item:active{
  transform: scale(.9);
}
.qtyAlter{
  display: flex;
  border-radius: 7px;
  overflow: hidden;
}
.qtyAlter>input[type=button]{
  width: 2rem;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
  background-color: #69696969;
  font-size: larger;
  font-variant: small-caps;
}
.qtyAlter>button::selection{
  display: none;
}
.qtyBox{
  width: 3rem;
  background-color: transparent;
  border: 2px solid #FFF;
  border-radius: 7px;
  text-align: center;
}

.cartItemImage {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-size: cover;
  border: 2px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
}
.cartIcon{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.redDot::after {
  content: attr(data-qty);
  position: absolute;
  top: -5px;
  right: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: red;
}

.cartTitle{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.cartItemRapper {
  overflow: auto;
  flex: 1;
}
@media (max-width: 360px) {
  .cart-lists {
    width: 100%;
  }
}