.filterBtn {
    height: 2rem;
    width: 3rem;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 0 3px 3px #fff;
    transition: all .1s ease-in-out;
    margin: 1rem 0 0 1rem;
}
.filterPopup {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 20rem;
    left: -20rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
    transition: all .3s ease-in-out;
    background-color:  rgba(3, 3, 3, 0.9);
}
.filterPopup.active{
    left: 0;
}
.filterPopup>form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
select#brand,#color {
    padding: 0.5rem 1rem;
    font-size: large;
    background: inherit;
    outline: transparent;
    border: 2px solid #FFF;
    border-radius: 7px;
    font-weight: 600;
}
.priceBox{
    display: flex;
}
input#price {
    width: 100%;
}
.findBtn{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.findBtn:hover, .findBtn:active{
    background-color: #0056b3;
}
.customSlider{
    position: relative;
    margin:20px 1rem 1rem;
    height: 5px;
    background: #ddd;
    border-radius: 10px;
}
.customSliderTrack{
    position: absolute;
    height: 100%;
    background: blue;
    border-radius: 10px;
}
.thumb{
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: gray;
    border:2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -40%);

}
.thumb.min::after{
    content: attr(data-minval);
    position: absolute;
    display: block;
    height: 20px;
    text-align: center;
    line-height: 22px;
    border-radius: 7px;
    width: 40px;
    background: gray;
    transform: translate(-15%, 0);
    top: -25px;
}
.thumb.max::after{
    content: attr(data-maxval);
    position: absolute;
    display: block;
    height: 20px;
    text-align: center;
    line-height: 22px;
    border-radius: 7px;
    width: 40px;
    background: gray;
    transform: translate(-15%, 0);
    top: -25px;
}
.productMode{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.productMode>label>input{
    margin-right: 10px;
}