footer {
  display: flex;
  color: white;
  padding: 1rem;
  background-color: #333;
  justify-content: space-between;
}
footer>div{
  display: flex;
  text-align: center;
  gap: .5rem;
  flex-direction: column;
  justify-content: space-between;
}
footer svg{
  height: 1rem;
  width: 1rem;
}
.footLogo {
  color: #fff;
  cursor: pointer;
  font-weight: 800;
  font-size: 1rem;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  font-family: "Quicksand", serif;
}