.rangeBox{
    height: calc(100vh - 2rem);
}
.productGrid {
    display: grid;
    gap: 10px;
    margin: auto;
    height: calc(100vh - 2rem);
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}
.box , .skeleton{
    display: flex;
    min-height: 200px;
    cursor: pointer;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    border-radius: 14px;
    align-items: flex-end;
    background-size: cover;
    word-break: break-word;
    transition: all .1s linear;    
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 5px #FFF;
}
.box:hover {
    transform: translate(0, -5px);
    filter: brightness(1.2);
}
.box:hover .skeleton {
    opacity: 1;
}
.box:hover .tabContent {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
    color: #ffffff;
    z-index: 1;
}
.box:nth-child(4n) , .skeleton:nth-child(4n){
    grid-column: span 2;
    grid-row: span 1;
}
.box:nth-child(2n) , .skeleton:nth-child(2n){
    grid-column: span 1;
    grid-row: span 2;
}

.skeleton {
    background: #e0e0e0;
    pointer-events: none;
    background-image: linear-gradient(45deg, #e0e0e0 25%, #999999 50%, #e0e0e0 75%);
}

.skeleton-text {
    border-radius: 5px;
    margin-bottom: 5px;
    background: #adadad;
    width: 8rem;
    height: 12px;
    background-image: linear-gradient(45deg, #e0e0e0 25%, #999999 50%, #e0e0e0 75%);
}

@media (max-width: 370px) {
    .productGrid {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .box{
        height: 260px;
    }
}