.header {
    height: 25vh;
    overflow: hidden;
    isolation: isolate;
    position: relative;
    background-size: 50px 50px;
    background-image: repeating-radial-gradient(#222, #222 10px, #333 10px, #333 30px, #444 30px, #444 50px);
}
.headImgBox{
    display: flex;
    flex-direction: column;
    transition: transform 1s ease-in-out;
}
.headImgBox>img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
    transform-origin: top;
    transition: transform .8s ease-in-out, opacity .8s ease-in-out;
}
.bell {
    width: 2rem;
    z-index: 2;
    box-shadow: 0 0 10px 5px #000;
    border-radius: 50%;
    height: 2rem;
    display: inline-block;
    position: absolute;
    top: .5rem;
    right: 1rem;
    cursor: pointer;
    transition: transform .2s linear;
}
.bell:hover{
    transform: scale(1.2);
}
