.header {
    height: 25vh;
    overflow: hidden;
    background-image: repeating-radial-gradient(#222, #222 10px, #333 10px, #333 30px, #444 30px, #444 50px);
    background-size: 50px 50px;
}
.headImgBox{
    display: flex;
    flex-direction: column;
    transition: transform 1s ease-in-out;
}
.headerImg{
    width: 100%;
    height: 25vh;
    transform-origin: top;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    object-fit: cover;
}