.revBtn{
    background: #0056b3;
    border-radius: 7px;
    cursor: pointer;
    padding: 7px 22px;
    border: none;
}
.revStars{
    display: flex;
}
.revStars>svg{
    cursor: pointer;
    transition: all .2s linear;
    height: 2rem;
    width: 2rem;
}

