.searchIcon {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 100vh;
  transform-origin: top;
  transition: all .3s ease-in-out;
  background-color: rgba(3,3,3,0.9);
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
}
.searchIcon.active{
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
  padding: 1rem;
}

.searchIcon.active #search{
  padding: 0 1rem;
  opacity: 1;
  width: 80%;
  height: 3rem;
  z-index: 2;
  position: sticky;
  top: 0;
}
.searchBar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#search{
  width: 2rem;
  height: 2rem;
  opacity: 0;
  color: #FFF;
  outline: none;
  font-size: large;
  transition: all .3s ease-in-out;
  border: none;
  border-radius: 2rem;
  background: dimgray;
}
#search::placeholder{
  color: #FFF;
}
#search::-webkit-search-cancel-button{
  cursor: pointer;
}
.Suggestion {
  display: flex;
  flex-direction: column;
  width: 80svw;
  align-items: center;
  margin: 2rem auto 0;
  gap: 1rem;
  list-style-type: none;
}
.Suggestion>li{
  cursor: pointer;
  display: flex;
  gap: 10px;
  border-radius: 10rem;
  height: 3rem;
  padding-right: 1rem;
  width: auto;
}
.Suggestion>li:hover{
  box-shadow: 0 0 0 5px #030303e6, 0 0 5px 10px #808080;
}
.Suggestion>li>div{
  border-radius: 50px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 3rem;
  border: 1px solid #fff;
}
.Suggestion>li u{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Suggestion>li u span{
  align-self: flex-end;
}
.Suggestion>li p{
  word-break: break-all;
  height: 15px;
  overflow: hidden;
  width: 15rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: inherit;
  -webkit-box-orient: vertical;
}