.gridtemplet{
    display: flex;
    padding: 1rem;
}
.rangeBox{
    height: calc(100vh - 2rem);
}
.productGrid {
    display: grid;
    gap: 10px;
    height: calc(100vh - 2rem);
    overflow: auto;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}
.productGrid>div>img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
.boxOfProduct{
    word-break: break-word;
    height: 200px;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 5px #FFF;
    border-radius: 14px;
    background-position: center;
    background-size: cover;
    transition: background-image .2s ease-in-out;    
    display: flex;
    align-items: flex-end;
}