.lofMain,.sigfMain{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100svh;
    align-items: center;
}
.logForm{
    display: flex;
    flex-direction: column;
    width:fit-content;
}
.signForm{
    display: flex;
    flex-direction: column;
    width:fit-content;
}
.passBox{
    display: flex;
    justify-content: space-between;
    border: 2px solid #5b5b5b;
}
.password{
    -webkit-text-security: square;
}
.togType{
    height: 1.5rem;
    width: 1.5rem;
}