.formCover{
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 1rem;
    max-width: 360px;
}
.formCover input{
    padding: 5px 10px;
    border: 2px solid #000;
    background-color: #363636cc;
    border-radius: 7px;
    color: #FFF;
}
.formCover input::placeholder{
    color: #ffffff;
}
.formCover input:focus-within::placeholder{
    color: transparent;
}
.formBtns{
    display: flex;
    justify-content: space-around;
}
.formBtns button {
    padding: 5px 10px;
    border: none;
    border-radius: 14px;
    font-size: larger;
    width: min-content;
    background-color: #2323ff;
    color: #FFFFFF;
}
.formBtns button:active{
    transform: translate(0, 1px) scale(0.9);
}
.prvImgBox{
    display: flex;
    gap: 5px;
    width: 10rem;
    overflow: auto;
}
.prvImgBox>img{
    border-radius: 10px;
    object-fit: cover; 
    height: 3rem;
    width: 4rem;
    z-index: 0;
}
img.active{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1000;
    right: 0;
    left: 0;
    bottom: 0;
}

.addImgBtn {
    position: relative;
}
.addImgBtn::after {
    content: attr(data_length);
    top: 0;
    right: 0;
    z-index: 1;
    width: 16px;
    height: 16px;
    display: flex;
    font-size: 14px;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: red;
}
#addImage{
    display: none;
}







.dataCover{
    padding: 1rem;
    color: #FFF;
}
.itemDatas{
    padding: 10px;
    border-radius: 7px;
    background-color: #363636;
}
.itemDatas:not(:last-child){
    margin-bottom: 5px;
}
.itemDatas summary{
    width: 10rem;
    height: .9rem;
    cursor: pointer;
    line-clamp: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.desc {
    resize: none;
    color: #FFF;
    padding: 10px;
    overflow: auto;
    font-weight: 600;
    border-radius: 14px;
    background-color: inherit;
    outline: 2px solid gray;
}
.btnBox>div{
    display: flex;
    justify-content: center;
}
.btnBox button{
    margin: 3px;
    width: 5rem;
    border: none;
    display: flex;
    color: #FFF;
    cursor: pointer;
    font-weight: 700;
    padding: 5px 10px;
    align-items: center;
    border-radius: 14px;
    justify-content: center;
    background-color: #2323ff;
}

@media only screen and (min-width: 600px) {
    .adminMain{
        display: flex;
    }
}









.cartBtn {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    background: black;
    border-radius: 7px;
    cursor: pointer;
}
.popMessage{
    position: fixed;
    left: 1rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #0056b3;
    border-radius: 10px;
    z-index: 10;
    bottom: -4rem;
    opacity: 0;
    pointer-events: none;
    transition: all .2s linear;
}
.popMessage.active{
    bottom: 1rem;
    opacity: 1;
    pointer-events: all;
}
.msgCloseBtn{
    margin-left: 1rem;
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
}
.msgCloseBtn:hover{
    transform: scale(1.3);
}
.msgCloseBtn:active{
    transform: scale(.9);
}
.cartSvg {
    min-height: 2rem;
    max-width: 2rem;
}
.cartBtn{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    background: #0056b3;
    border-radius: 7px;
    cursor: pointer;
}
.cartBtn:active {
    background-color: #000;
}
@media (max-width: 600px) {
    .popMessage{
        left: 50%;
        transform: translate(-50%, 0);
    }
}
.headImg{
    display: flex;
    flex-direction: column;
}