.Filter{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    height: 5rem;
    list-style-type: none;
}
.Filter>li{
    box-shadow: 0 0 3px #fff;
    padding: .5rem;
    cursor: pointer;
    border-radius: 14px;
    height: 80%;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.5rem;
    width: 6rem;
}
.navScalaton{
    box-shadow: 0 0 3px #fff;
    padding: .5rem;
    cursor: none;
    border-radius: 14px;
    height: 80%;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.5rem;
    width: 30px;
    background-image: linear-gradient(45deg,transparent,gray,#FFF);
}
.filterBtn {
    padding: 0.2rem 1rem !important;
    transition: all .1s ease-in-out;
    box-shadow: 0 0 5px blue !important;
}
.filterPopup {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 20rem;
    left: -20rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
    transition: all .3s ease-in-out;
    background-color:  rgba(3, 3, 3, 0.9);
}
.filterPopup.active{
    left: 0;
}
.filterPopup>form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#brand,#color,#method {
    padding: 0.5rem 1rem;
    font-size: large;
    background: inherit;
    outline: transparent;
    border: 2px solid #FFF;
    border-radius: 7px;
    font-weight: 600;
}
.priceBox{
    display: flex;
}
input#price {
    width: 100%;
}
.customSlider{
    position: relative;
    margin:20px 1rem 1rem;
    height: 5px;
    background: #ddd;
    border-radius: 10px;
}
.customSliderTrack{
    position: absolute;
    height: 100%;
    background: blue;
    border-radius: 10px;
}
.thumb{
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: gray;
    border:2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -40%);

}
.thumb.min::after{
    content: attr(data-minval);
    position: absolute;
    display: block;
    height: 20px;
    text-align: center;
    line-height: 22px;
    border-radius: 7px;
    width: 40px;
    background: gray;
    transform: translate(-15%, 0);
    top: -25px;
}
.thumb.max::after{
    content: attr(data-maxval);
    position: absolute;
    display: block;
    height: 20px;
    text-align: center;
    line-height: 22px;
    border-radius: 7px;
    width: 40px;
    background: gray;
    transform: translate(-15%, 0);
    top: -25px;
}
.productMode{
    display: flex;
    justify-content: space-around;
}
.productMode>label>input{
    margin-right: 10px;
}
.filterActions{
    display: flex;
    justify-content: space-around;
}
.filterActions>button{
    padding: 7px 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    font-size: larger;
}
.filterActions>button:hover, .filterActions>button:active{
    background-color: #0056b3;
}