.checkoutPage{
    background-size: 35px 35px;
    background-image: repeating-radial-gradient(#222, #222 10px, #333 10px, #333 20px, #444 20px, #444 30px);
}
.goBackBth{
    padding: 0 10px;
    font-weight: 700;
    font-size: xx-large;
    line-height: 30px;
}
.orderFromCover{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    margin: 10px 0;

}
.orderForm{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    background: #67676785;
    padding: 1rem;
    flex: 1 1 0%;
    border-radius: 1rem;
}
.orderForm>div{
    gap: 10px;
}
.orderForm input{
    font-size: large;
    border: none;
    background-color: black;
    border-radius: 7px;
    border-bottom: 2px solid #fff;
    outline: none;
    padding: 5px;
}
.OrderConfirmBtn{
    padding: 5px 12px;
    font-weight: 600;
    font-size: large;
    outline: transparent;
    border: none;
    border-radius: 7px;
    color: #222;
    background-color: #fff;
}
.OrderConfirmBtn:active{
    transform: scale(.9);
}
@media (max-width: 400px) {
    .orderFromCover {
        flex-direction: column-reverse;
    }
}