.checkoutPage{
    background-size: 35px 35px;
    background-image: repeating-radial-gradient(#222, #222 10px, #333 10px, #333 20px, #444 20px, #444 30px);
}
.CheckoutNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}
.orderFromCover{
    height: 80vh;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}
.orderItems {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    overflow-y: scroll;
}
.payMethod{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #67676785;
    padding: 1rem;
    border-radius: 1rem;
}
.payMethod span>input[type="radio"]{
    display: none;
}
.payMethod span>label{
    display: flex;
    background: #35353585;
    border-radius: 1rem;
    padding: 1rem;
    min-width: 200px;
}
.payMethod span input:checked~label{
    background-color: #d1d1d1;
    color: #222;
}
.orderForm{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    background: #67676785;
    padding: 1rem;
    flex: 1 1 0%;
    border-radius: 1rem;
}
.orderForm>div{
    gap: 10px;
}
.orderForm input{
    font-size: large;
    border: none;
    background-color: black;
    border-radius: 7px;
    border-bottom: 2px solid #fff;
    outline: none;
    padding: 5px;
}
.checkOutPrice{
    position: sticky;
    bottom: 0;
    background: gray;
    padding: 0.4rem 1rem;
    border-radius: 8px;
}
.OrderConfirmBtn{
    padding: 5px 12px;
    font-weight: 600;
    font-size: large;
    outline: transparent;
    border: none;
    border-radius: 7px;
    color: #222;
    background-color: #fff;
}
.OrderConfirmBtn:active{
    transform: scale(.9);
}
@media (max-width: 700px) {
    .orderFromCover {
        flex-direction: column-reverse;
    }
}