.mainBox{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.spContainer {
    display: flex;
    max-width: 70rem;
    gap: 1rem;
}
.spContainer>div{
    width: 50%;
}
.spImage{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.spImageBox {
    height: 30vh;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    border: 4px double #fff;
}
.slider-image {
    width: auto;
    height: 100%;

}
.spInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.proVariant{
    display: flex;
}
.proVariant>img{
    flex: 1;
    width: 4rem;
}


.prductRelateds {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.discReviews{
    margin-top: 3rem;
    height: 15rem;
    overflow: auto;
}
.descBox,.reviewbox{
    height: 10rem;
    overflow-y: scroll;
}
.flipButtons{
    display: flex;
}
.tabButton{
    color: #000;
    padding: 10px 20px;
    border:rgba(0, 0, 0, 0.505)e;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: #004c9e74;
    font-weight: 700;
    text-decoration: none;
}
.tabButton.active {
    color: white;
    background-color: #007bff;
}
@media only screen and (max-width: 600px) {
    .spContainer{
        flex-direction: column;
    }
    .spContainer>div {
        width: 100%;
    }
    .scrollBtn.right {
        right: 0;
    }
    .scrollBtn.left {
        left: 0;
    }
  }













.tabBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tabCover {
    gap: 10px;
    width: 80%;
    display: flex;
    border-radius: 5px;
    padding-bottom: 5px;
    border-bottom: 2px dotted #fff;
    overflow-x: hidden;
    scrollbar-width: thin;
    justify-content: center;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
    scroll-snap-type: x mandatory;
}
.tabCover>img{
    z-index: 0;
    object-fit: cover;
}

.tabCover::-webkit-scrollbar {
    display: none;
}

.tab {
    flex: 0 0 auto;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.scrollBtn {
    background-color: #333;
    color: white;
    font-weight: 800;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #FFF;
    z-index: 2;
}
.scrollBtn>svg{
    position: absolute;
    left: 35%;
    top: 35%;
    width: 30%;
    height: 30%;
    fill: currentColor;
}

.scrollBtn:hover {
    background-color: #0056b3;
}

.scrollBtn.left {
    left: 0;
}

.scrollBtn.right {
    right: 0;
}





.popMessage{
    position: fixed;
    left: 1rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #0056b3;
    border-radius: 10px;
    z-index: 10;
    bottom: -4rem;
    opacity: 0;
    pointer-events: none;
    transition: all .2s linear;
}
.popMessage.active{
    bottom: 1rem;
    opacity: 1;
    pointer-events: all;
}
.msgCloseBtn{
    margin-left: 1rem;
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
}
.msgCloseBtn:hover{
    transform: scale(1.3);
}
.msgCloseBtn:active{
    transform: scale(.9);
}
.cartSvg {
    min-height: 2rem;
    max-width: 2rem;
}
.cartBtn{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 7px 10px;
    width: 60%;
    align-self: center;
    justify-content: center;
    background: #0056b3;
    border-radius: 7px;
    cursor: pointer;
}
.cartBtn:active {
    background-color: #000;
}
@media (max-width: 600px) {
    .popMessage{
        left: 50%;
        transform: translate(-50%, 0);
    }
}
.headImg{
    display: flex;
    flex-direction: column;
}